<h1>Create Account</h1>

<%= form_with model: @organisation do |f|%>
  <%= f.label :name, "Organisation name" %>
  <%= f.text_field :name %>
  <%= f.fields_for :users, @user do |user_form| %>
    <%= user_form.label :name, "Your name" %>
    <%= user_form.text_field :name %>

    <%= user_form.label :email_address, "Email address" %>
    <%= user_form.text_field :email_address %>

    <%= user_form.label :password, "Password" %>
    <%= user_form.text_field :password %>

    <%= user_form.label :password_confirmation, "Confirm password" %>
    <%= user_form.text_field :password_confirmation %>
  <% end %>

  <%= f.submit "Sign up" %>
<% end %>


