<p style="color: green"><%= notice %></p>

<%= render "users_off_today" %>

<%= render "time_offs/form", time_off: TimeOff.new(user: @user) %>

<%= render "time_offs/user_upcoming_time_off", user: @user %>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
