<div id="<%= dom_id time_off %>">
  <p>
    <strong>Date:</strong>
    <%= time_off.date %>
  </p>

  <p>
    <strong>Morning:</strong>
    <%= time_off.morning %>
  </p>

  <p>
    <strong>Afternoon:</strong>
    <%= time_off.afternoon %>
  </p>

  <p>
    <strong>More info:</strong>
    <%= time_off.more_info %>
  </p>

  <p>
    <strong>User:</strong>
    <%= time_off.user_id %>
  </p>

</div>
